*{
    padding: 0;
    margin: 0;
}

/* .ball{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}
.ball:hover{
    background-color:  yellow;
    /* transition: 0.5s ease-in-out; */
/* } */
/* .ballclick{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-radius: 0px;
    transform: rotate(20deg);
}  */

body{
position: relative;
}

.zoom{
    margin-top: 20px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
    padding: 2px;
    border: 2px solid red;
    border-radius: 50px;
    transition:0.5s ease-in-out;
}
.zoom:hover{
    transform:  scale(1.2);
    border-width :3px;

}

.square{
    border-radius: 0px;
}
